<div id="<%= dom_id article %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= article.source %>
  </p>

  <p>
    Posted <%= time_tag article.created_at %>
  </p>

  <p>
    <strong><%= pluralize article.total_likes, "like" %></strong>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.source %>
  </p>

  <%= render "likes/new", article: article %>

  <p>
    <%= link_to "Show this article", url_for(article) %>
  </p>
</div>
